<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Rubik:wght@400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css?ver=2">
</head>
<body>
<header class="header">
    <div class="header__wrapper">
        <h1 class="header__title">
            Интернет магазин "Котейка"
        </h1>
        <section class="header__logo">
            <h3 class="header__logo-title">
                Логотип "Котейка"
            </h3>
            <a href="./main.html"
               aria-label="Логотип 'Котейка'"
            >
                <img src="./assets/img/logo.svg"
                     alt="Логотип 'Котейка'"
                     width="64"
                     height="52"
                >
            </a>
        </section>
        <nav class="header__nav nav">
            <ul class="nav__list">

                {% for item in menu %}
                    <li class="nav__item">
                        <a href="{{ item.href }}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </nav>
    </div>
</header>
<main class="main">
    <h2 class="main__title">
        Наши номера
    </h2>
    <div class="main__wrapper">
        <form class="main__form form"
              method="post"
        >
            <fieldset class="form__price">
                <h3 class="form__price-title">
                    Цена за сутки, &#8381;
                </h3>
                <div class="form__price-wrapper">
                    <label class="form__price-label"
                           for="min-price"
                    >
                            <span>
                                От
                            </span>
                        <input type="number"
                               id="min-price"
                               name="min-price"
                               value="100"
                        >
                    </label>
                    <label class="form__price-label"
                           for="max-price"
                    >
                            <span>
                                До
                            </span>
                        <input type="number"
                               id="max-price"
                               name="max-price"
                               value="600"
                        >
                    </label>
                </div>
            </fieldset>
            <fieldset class="form__square">
                <h3 class="form__square-title">
                    Площадь
                </h3>

                {% for square in filter.squares %}
                    <input class="form__square-input"
                           type="checkbox"
                           id="{{ square.id }}"
                           name="square"
                           value="{{ square.value }}"
                    >
                    <label class="form__square-label"
                           for="{{ square.id }}">
                        <span>
                        {{ square.title }}
                    </span>
                    </label>
                {% endfor %}

            </fieldset>
            <fieldset class="form__type">
                <h3 class="form__type-title">
                    Оснащение номера
                </h3>

                {% for feature in filter.features %}
                    <input class="form__type-input"
                           type="checkbox"
                           id="{{ feature.id }}"
                           name="feature"
                           value="{{ feature.value }}"
                    >
                    <label class="form__type-label"
                           for="{{ feature.id }}"
                    >
                        <span>
                        {{ feature.title }}
                    </span>
                    </label>
                {% endfor %}

            </fieldset>
            <button class="form__accept"
                    type="button"
            >
                Применить
            </button>
            <button class="form__reset form__reset--hide"
                    type="reset"
            >
                Сбросить фильтр
            </button>
        </form>
        <section class="main__catalog catalog">
            <h2 class="catalog__title">
                Каталог
            </h2>
            <section class="main__sort sort">
                <h3 class="sort__title">
                    Сортировка
                </h3>
                <ul class="sort__list"
                >

                    {% for item in sort  %}
                        <li class="sort__item">
                            <img src="{{ item.icon }}"
                                 alt="{{ item.alt }}"
                                 width="5"
                                 height="10"
                            >
                            <button class="sort__select"
                                    data-sort="{{ item.data }}"
                            >
                                {{ item.text }}
                            </button>
                        </li>
                    {% endfor %}

                </ul>
            </section>
            <ul class="catalog__list"
                data-card="catalog"
            >
            </ul>
        </section>
    </div>
</main>
<footer class="footer">
    <div class="footer__container">
        <div class="footer__wrapper">
            <span class="footer__copyright">
                &#169; 2020 Все права защищены
            </span>
            <a class="footer__privacy"
               target="_blank"
               href="./privacy.html"
            >
                Политика конфиденциальности
            </a>
        </div>
        <span class="footer__development">
            Сделано в
            <a href="koteyka_production.ru"
               target="_blank"
            >
                Koteyka_Production
            </a>
        </span>
    </div>
</footer>
<template data-card="card-template">
    <li class="catalog__item"
        data-card="card"

    >
        <img data-card="img"
             src=""
             alt=""
             width="270"
             height="185"
        >
        <div class="catalog__item-wrapper">
            <span class="catalog__title-item"
                  data-card="title"
            ></span>
            <dl class="catalog__item-options">
                <div class="catalog__item-option">
                    <dt>
                        Размеры (ШхГхВ) -
                    </dt>
                    <dd data-card="size"></dd>
                </div>
                <div class="catalog__item-option">
                    <dt>
                        Площадь -
                    </dt>
                    <dd data-card="square"></dd>
                </div>
                <div class="catalog__item-option">
                    <dt>
                        Оснащение номера
                    </dt>
                    <dd class="catalog__item-features"
                        data-card="features"
                    >
                    </dd>
                </div>
                <div class="catalog__item-option catalog__item-option--price">
                    <dt>
                        Цена за сутки:
                    </dt>
                    <dd data-card="price"></dd>
                </div>
            </dl>
            <button class="catalog__item-button">
                    <span>
                        Забронировать
                    </span>
            </button>
        </div>
    </li>
</template>
<template data-card="feature-template">
    <img src=""
         alt=""
         width="16"
         height="16"
         data-card="feature"
    >
</template>
<script src="./js/index.min.js"></script>
</body>
</html>
